html,
body {
	height: 100%;
	width: 100%;
	padding: 0
}
#content{
	padding-top: 10px;
}
#myBtn{
	padding-top: 10px;
}
#neirong{
	width: 400px;
	height: 400px;
	background: beige;
	margin-top: 40px;
}
