<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link href="http://localhost:3000/css/aboutUsPage.css" rel="stylesheet"></head>
	<body>
		<div class="header" >
			<a  class="three-gang wow rollIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="">
				<div class="gang"></div>
				<div class="gang1"></div>
				<div class="gang4"></div>
				<!--<div class="gang3" style="display: none;"></div>-->
				<div class="gang2"></div>
			</a>
			<div style=""></div>
			<div class="nav " >
				<div class="logo wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.4s" style="z-index: 0;">
					<img src="/img/20161207111027_46562.jpg" width="100%"/>
				</div>
				<div class="header_right wow lightSpeedIn animated"  data-wow-duration="1s" data-wow-delay="0.5s" style="width: 10%;">
					<img src="/img/eng.png" />
				</div>
			</div>
			<div style=""></div>
		</div>
		<div class="navf text-center" style="border-radius: 50% 50% 50% 50%;">
		</div>
		<ul class="nav_ul" >
			<li>
				<a href="/messageAction/indexPage">网站首页</a>
			</li>
	
			<li>
				<a href="/messageAction/aboutUsPage">关于我们</a>
			</li>
			<li>
				<a href="case.html">商城动态</a>
			</li>
			<li>
				<a href="shejituandui.html">品牌中心</a>
			</li>
			<li>
				<a href="javascript:void(0)">行业资讯</a>
			</li>
			<li>
				<a href="javascript:void(0)">会员专区</a>
			</li>
		</ul>
		<div class="swiper-container swiper-container-horizontal wow bounceInUp animated"  data-wow-duration="1s" data-wow-delay="0.6s">
			<div class="swiper-wrapper">
				<div style="width: 128px;" class="swiper-slide swiper-slide-active">
					<a href="#" style="color: #000;text-decoration: none;"><img src="/img/icon6.png">企业简介</a>
				</div>
				<div style="width: 128px;" class="swiper-slide swiper-slide-next">
					<a href="#" style="color: #000;text-decoration: none;"><img src="/img/icon7.png">企业文化</a>
				</div>
				<div style="width: 128px;" class="swiper-slide">
					<a href="#" style="color: #000;text-decoration: none;"><img src="/img/icon8.png">企业新闻</a>
				</div>
				<div style="width: 128px;" class="swiper-slide">
					<a href="#" style="color: #000;text-decoration: none;"><img src="/img/icon9.png">金源文化</a>
				</div>
				<div style="width: 128px;" class="swiper-slide">
					<a href="#" style="color: #000;text-decoration: none;"><img src="/img/icon10.png">企业招聘</a>
				</div>
				<div style="width: 128px;" class="swiper-slide">
					<a href="#" style="color: #000;text-decoration: none;"><img src="/img/icon11.png">招商合作</a>
				</div>
			</div>
		</div>
		<div class="main_bg wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.7s"></div>
		<div class="main_white">
			<div class="main_a_title wow bounceInDown animated" data-wow-duration="1s" data-wow-delay="1s">企业简介</div>
			<div>
				<p class="wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="1.2s" style="text-align:center;margin-bottom: 0;" align="center">
					<b style="font-size: 14px;">哈尔滨市佟二堡皮草有限公司企业及项目简介</b><b></b>
				</p>
				<p class="wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="1.4s" style="text-align:center;" align="center">
					<b><img src="/img/20161230133500_12933.jpg" style="width: 100%;" alt="" title="" align="" height="231" width="1000"><br></b>
				</p>
				<p class="MsoNormal wow bounceInUp animated" data-wow-duration="1s" data-wow-delay="1.8s" style="text-indent:28.0pt;">
					哈尔滨市佟二堡皮草有限公司于2013年4月正式成立，注册资金56888万元，主要以市场投资开发，商场经营管理，皮草、皮革及其制品批发为主的综合性企业机构。项目核心理念是：建设打造以两期商场为销售展示平台，以皮草皮革加工园区为支撑，以金源文化、俄罗斯风情特色餐饮旅游住宿为配套的新商业圈。公司于2013年投资建设哈尔滨市佟二堡国际皮草城项目，一期已经建成并投入运营，是建筑面积123210.8万平方米的大规模专业性皮草集散中心和<span>1</span>万平方米的四星级涉外商务酒店。二期建设内容为皮草皮革加工区、硝染区，建立工厂直营店；娱乐休闲温泉度假村，集商务会议、温泉疗养、度假养老、餐饮休闲为一体。三期还将建设养殖区，形成自商贸、加工、养殖、旅游、出口为一体的产业链。项目最终将主力打造东北亚裘皮、皮革产业基地和建立以女真族文化、俄罗斯风情餐饮娱乐、温泉度假休闲为辅的大型综合商圈。<span></span>
				</p>
				<p class="MsoNormal" style="text-indent:30.0pt;">
					一期哈尔滨市佟二堡国际皮草城<span>123210.8</span>万平方米，主体建筑为四层，一层、二层主营精品皮衣、箱包；三层主营裘皮；四层为裘皮时尚生活馆、美食广场及黑龙江省电视台财富与商机录制演播中心、北京英特华电子商务中心。现商场内共有商铺600余间，商场于2014年8月正式开业，开业商户入住率达85%，通过有效的经营模式管理及特有的旅游营销战略，至2015年度商场内所有商户实现销售总额15.8亿元，实现客流量达260万人次。
				</p>
				<p class="MsoNormal" style="text-indent:28.0pt;">
					哈尔滨市佟二堡国际皮草城开业运营一年以来，对商场各方面优势条件有了更全面的认识，从而优中取长，发挥优势，今后更好的发展：
				</p>
				<p class="MsoNormal" style="text-indent:28.0pt;">
					1、交通优势：哈尔滨市佟二堡国际皮草城坐落于哈尔滨市阿城区，哈尔滨地处东北亚中心地带，被誉为欧亚大陆桥的明珠，是第一条欧亚大陆桥和空中走廊的重要枢纽，是国家战略定位的“沿边开发开放中心城市”、“东北亚区域中心城市”及“对俄合作中心城市”。阿城区位于哈尔滨东南部23公里处，是金国发源地，人称“哈尔滨后花园”，商场紧邻阿城段哈牡高速铁路客运专线、滨绥铁路、拟建的阿城区至成高子地铁站出口轻轨，并与阿松旅游路相连。交通可以辐射东北全省、内蒙古东北部及俄罗斯边境口岸，十分便利。
				</p>
				<p class="MsoNormal" style="text-indent:28.0pt;">
					2、旅游文化优势：哈尔滨是中国著名的历史文化名城、热点旅游城市和国际冰雪文化名城。有“冰城”、“天鹅项下的珍珠”、”丁香城“以及“东方莫斯科”、“东方小巴黎”之美称，还有“文化之都”、“音乐之都”、“冰城夏都”的美誉。哈尔滨夏季凉爽，有迷人的哈尔滨之夏文化、冬季有全国闻名的冰雪文化、哈洽会等，阿城区更是有着几千年历史的金源文化，这些文化吸引了全国各地的游客到这里观光旅游。我商场也已申报3A级国家旅游景区，目前初步审批已通过。
				</p>
				<p class="MsoNormal">
					3、气候优势：哈尔滨属北温带，有半年的时间气候寒冷干燥，皮草、皮革类商品需求量很大。
				</p>
				<p class="MsoNormal">
					4、知名度优势：辽宁佟二堡皮革在全国的知名度很高，很多业户和顾客都是因为佟二堡的知名度而前来经商和购物的。现在我公司在哈尔滨打造阿城佟二堡，借鉴辽宁佟二堡30多年专业市场的诸多经验，融入现在化先进管理模式，借助佟二堡的全国知名度，打造崭新的哈尔滨市佟二堡国际皮草城。
				</p>
				<p class="MsoNormal">
					5、规模优势：佟二堡皮草城建设规模13万平方米，可接纳600余户业户，具有品种齐全、种类繁多特点，为广大客商提供优良的一站式购物服务。
				</p>
				<p class="MsoNormal">
					6、价格优势：一方面由于本商场的店铺租金相对哈尔滨市区内的店铺要优惠很多，大大降低了皮草制品的销售价格，另一方面，本商场为100%工厂直营店，前店后厂，减少了二三级皮草皮革代理商的加价环节，也大大降低了销售价格，从而增加商场的竞争优势。
				</p>
				<p class="MsoNormal" style="text-indent:28.0pt;">
					自2014年8月开业以来，我公司投入巨资不断完善商场内的硬件设施，打造独有的运营亮点。精确定位旅游营销的客户群，大大提升了顾客的购物率；商场目前有独立的网站，并使用内部联网的专业管理软件，网站功能性全面，对于客户的实用性也很强；商场开业一年以来，对于广告宣传的投放力度也从未怠屑，哈尔滨市佟二堡国际皮草城在黑吉两省主要公路路牌广告覆盖率达97%，为达到消费受众群体多元化，我商场独立运营商业微信平台，客户端受众人群达数十万人，去年开业至今，我商场在黑龙江省台、哈尔滨市台、黑龙江省广播电视台投放硬广、软广及公益广告等，今年我商场独资携手黑龙江省电视台第七频道创办一档关注度极高的栏目，在提高知名度的基础上，增加客户群对哈尔滨市佟二堡国际皮草城的消费忠诚度。
				</p>
				<p class="MsoNormal" style="text-indent:28.0pt;">
					哈尔滨市佟二堡国际皮草城引入国内外裘皮服装、皮革服装和皮具箱包的知名品牌，实施批零兼售、创意研发及时尚发布并举战略，打造面向东北亚、集购物休闲、文化旅游、创意研发、流行趋势发布于一体的皮革制品集散中心，成为体现哈尔滨地域文化特色和城市形象的新地标。后续我商场还将启动国家4A级旅游景区申报工作，力争把哈尔滨市佟二堡国际皮草城打造成黑龙江省最具影响力的现代服务业集聚区和最具特色的旅游购物中心。
				</p>
				<p class="MsoNormal">
					<img src="/img/20161130005114_54590.png" style="width:100%;">
				</p>
			</div>
		</div>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://localhost:3000/js/aboutUsPage.js"></script></body>

</html>