<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link href="http://localhost:3000/css/EnglishPage.css" rel="stylesheet"></head>

	<body>
		<div class="header" >
			<a  class="three-gang wow rollIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="">
				<div class="gang"></div>
				<div class="gang1"></div>
				<div class="gang4"></div>
				<!--<div class="gang3" style="display: none;"></div>-->
				<div class="gang2"></div>
			</a>
			<div style=""></div>
			<div class="nav " >
				<div class="logo wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.4s" style="z-index: 0;">
					<img src="/img/20161207111027_46562.jpg" width="100%"/>
				</div>
				<div class="header_right wow lightSpeedIn animated"  data-wow-duration="1s" data-wow-delay="0.5s" style="width: 10%;">
					<img src="/img/eng.png" />
				</div>
			</div>
			<div style=""></div>
		</div>
		<div class="navf text-center" style="border-radius: 50% 50% 50% 50%;">
		</div>
		<ul class="nav_ul" >
			<li>
				<a href="/messageAction/indexPage">网站首页</a>
			</li>
	
			<li>
				<a href="/messageAction/aboutUsPage">关于我们</a>
			</li>
			<li>
				<a href="">商城动态</a>
			</li>
			<li>
				<a href="shejituandui.html">品牌中心</a>
			</li>
			<li>
				<a href="javascript:void(0)">行业资讯</a>
			</li>
			<li>
				<a href="javascript:void(0)">会员专区</a>
			</li>
		</ul>
		<div class="banner swiper-container wow pulse animated"  data-wow-duration="1s" data-wow-delay="0.6s">
		  	<div class="swiper-wrapper">
			    <div class="swiper-slide"><img src="/img/20161206103121_38817.jpg" alt="" /></div>
			    <div class="swiper-slide"><img src="/img/20161206103130_63519.jpg" alt="" /></div>
			</div>
		</div>
		<div class="content text-center">
			<h1 class="con_h1 wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.7s">Harbin Tong Er Pu International Leather and Fur City</h1>
			<span class="con_span wow bounceInRight animated"  data-wow-duration="1s" data-wow-delay="0.8s">
	Harbin Tong Er Pu Leather & Fur Co., Ltd. was founded in April 2013, with registered capital RMB 568,880, 000 Yuan. The company mainly involves in investment ...
     </span>
			<a href="#" class="more wow rollIn animated"  data-wow-duration="1s" data-wow-delay="0.9s">Check the details</a>
			<ul class="con-ul wow flipInX animated"  data-wow-duration="1s" data-wow-delay="1s">
				<li class="con-li">
					<a href="#">
						<img src="/img/20161201072859_95014.jpg"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/20161230133647_78194.jpg" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/20161230133214_22945.jpg"/>
					</a>
				</li>
			</ul>
		</div>
		<div class="shopping_dt">
			<div class="dt_con">
				<div class="dt_h1 wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.1s">Mall Dynamics</div>
				<div class="dt_span wow bounceInLeft animated"  data-wow-duration="1s" data-wow-delay="0.2s"> Harbin tong two fort is famous at home and abroad of China leather fur</div>
			</div>
			<div class="swiper-container shopping_lunbo">
				<div class="swiper-wrapper dt_lb_son">
					<ul class="dt_list swiper-slide clearfix">
						<li class="">
							<a href="#">
								<div class="dt_img">
									<img src="/img/20161227092438_62903.jpg"/>
								</div>
							</a>
							<div class="dt_nr" style="padding-top: 20px;">
								<a href="#">
									<div class="dt_text">
										Lucky Draw with the Subject of “Your New Clothes My Regards” 
									</div>
								</a>
								<a href="#" class="dt_more" style="color: #4AC4B8;">Check the details</a>
							</div>
						</li>
						<li class="" style="padding-top: 20px;">
							<div class="dt_nr" style="padding-top: 0px;">
								<a href="#">
									<div class="dt_text">
										2015 Autumn and Winter Fashion Show
									</div>
								</a>
								<a href="#" class="dt_more" style="color: #4AC4B8;">Check the details</a>
							</div>
							<a href="#">
								<div class="dt_img">
									<img src="/img/20161201152234_46172.jpg"/>
								</div>
							</a>
						</li>
					</ul>
					<ul class="dt_list swiper-slide clearfix">
						<li class="">
							<a href="#">
								<div class="dt_img">
									<img src="/img/20161201152232_64003.jpg"/>
								</div>
							</a>
							<div class="dt_nr" style="padding-top: 20px;">
								<a href="#">
									<div class="dt_text">
										2015 Leather and Fur Music Festival
									</div>
								</a>
								<a href="#" class="dt_more" style="color: #4AC4B8;">Check the details</a>
							</div>
						</li>
						<li class="" style="padding-top: 20px;">
							<div class="dt_nr" style="padding-top: 0px;">
								<a href="#">
									<div class="dt_text">
										2014 Halloween Activity
									</div>
								</a>
								<a href="#" class="dt_more" style="color: #4AC4B8;">Check the details</a>
							</div>
							<a href="#">
								<div class="dt_img">
									<img src="/img/20161201152245_98931.jpg"/>
								</div>
							</a>
						</li>
					</ul>
					<ul class="dt_list swiper-slide clearfix">
						<li class="">
							<a href="#">
								<div class="dt_img">
									<img src="/img/20161201152307_38078.jpg"/>
								</div>
							</a>
							<div class="dt_nr" style="padding-top: 20px;">
								<a href="#">
									<div class="dt_text">
										2014 Halloween Activity
									</div>
								</a>
								<a href="#" class="dt_more" style="color: #4AC4B8;">Check the details</a>
							</div>
						</li>
						<li class="" style="padding-top: 20px;">
							<div class="dt_nr" style="padding-top: 0px;">
								<a href="#">
									<div class="dt_text">
										2014 Arctic﹒Ice The Fourth Paris International Fashion Week Chinese Model Contest
									</div>
								</a>
								<a href="#" class="dt_more" style="color: #4AC4B8;">Check the details</a>
							</div>
							<a href="#">
								<div class="dt_img">
									<img src="/img/20161201152321_75052.jpg"/>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="news_title">
		      <div class="news_t wow swing animated"  data-wow-duration="1s" data-wow-delay="0.5s">Recommended Brands</div>
		      <div class="news_d wow swing animated"  data-wow-duration="1s" data-wow-delay="0.6s"> Harbin tong two fort convergence line fur brand at home and abroad</div>
		      <ul class="pp">
		      	<li class="wow bounce animated"  data-wow-duration="1s" data-wow-delay="0.7s">
		      		<img src="/img/20161125111442_99008.jpg"/>
		      		<div class="pp_pic">
         				<img src="/img/20161203105835_18294.png">
		      		</div>
		      	</li>
		      	<li class="wow bounce animated"  data-wow-duration="1s" data-wow-delay="0.8s">
		      		<img src="/img/20161125111442_99008.jpg"/>
		      		<div class="pp_pic">
         				<img src="/img/20161203105835_18294.png">
		      		</div>
		      	</li>
		      	<li class="wow bounce animated"  data-wow-duration="1s" data-wow-delay="0.9s">
		      		<img src="/img/20161125111442_99008.jpg"/>
		      		<div class="pp_pic">
         				<img src="/img/20161207103457_81213.jpg">
		      		</div>
		      	</li>
		      </ul>
		    </div>
		</div>
		<div class="news_bg">
			<div class="news_title">
				<div class="news_t wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.1s">News Center</div>
				<div class="wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.2s" style="font-size: 14px;"> The first time master inline news about fashion trend</div>
			</div>
			<ul class="news_zx">
				<li class="wow bounceInLeft animated"  data-wow-duration="1s" data-wow-delay="0.2s">
					<div class="news_l">
			            <div class="news_date">10</div>
			          	2017-02
		            </div>
		            <div class="news_r">
			            <div class="news_r_t">International Leather and Fur Association Promotes the Construction of New Silk Road</div>
			        </div>
				</li>
				<li class="wow bounceInLeft animated"  data-wow-duration="1s" data-wow-delay="0.3s">
					<div class="news_l">
			            <div class="news_date">10</div>
			          	2017-02
		            </div>
		            <div class="news_r">
			            <div class="news_r_t">Leather and Fur is also crazy, </div>
			        </div>
				</li>
				<li class="wow bounceInLeft animated"  data-wow-duration="1s" data-wow-delay="0.4s">
					<div class="news_l">
			            <div class="news_date">10</div>
			          	2017-02
		            </div>
		            <div class="news_r">
			            <div class="news_r_t">“One Dollar Ten cents ”, What You See is What You Get</div>
			        </div>
				</li>
			</ul>
		</div>
		<div class="con_bg clearfix">
			<div class="con_l wow bounceInDown animated"  data-wow-duration="1s" data-wow-delay="0.5s">
				<div class="con_title" >
					<span class="con_t">联系我们</span>
					<br>Contact us</div>
					phone：400-8587-555<br> Q Q：1719863855<br> Address：The Harbin city in heilongjiang 
					<br> province Taking this high-speed exit
			</div>
			<div class="con_r wow bounceInUp animated"  data-wow-duration="1s" data-wow-delay="0.6s">
				<form action="" method="post" name="myform">
					<input name="lanmu" value="6" type="hidden">
					<input name="lc_name" id="lc_name" class="con_input" placeholder="your name：" type="text">
					<input name="lc_tel" id="lc_tel" class="con_input" placeholder="Your contact information：" type="text">
					<textarea name="lc_content" id="lc_content" class="con_input1" placeholder="Pro, there is a problem in the message"></textarea>
					<button class="con_button">Confirm to submit</button>
				</form>
			</div>
			<div class="cl"></div>
		</div>
		<ul class="bot wow bounceInDown animated" data-wow-duration="1s" data-wow-delay="0.2s">
		    <li class="wow bounceInUp animated"  data-wow-duration="1s" data-wow-delay="0.4s">
		      <a href="#" style="color: #333;">Home</a>
		    </li>
		    <li class="wow bounceInUp animated"  data-wow-duration="1s" data-wow-delay="0.5s">
		      <a href="#" style="color: #333;">Dial-up</a>
		    </li>
		    <li class="wow bounceInUp animated"  data-wow-duration="1s" data-wow-delay="0.6s">
		      <a href="#" style="color: #333;">Share</a>
		    </li>
		    <li class="wow bounceInUp animated"  data-wow-duration="1s" data-wow-delay="0.7s">
		      <a href="#" style="color: #333;">Map</a>
		    </li>
		</ul>
		<!--<div class="address">
			<span class="address-span">公司地址</span>
			
		</div>-->
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://localhost:3000/js/EnglishPage.js"></script></body>

</html>