<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			body{width: 100%;}
					@media only screen and (max-width: 1200px) {
						body{width: 1200px;}
					}
		</style>
	<link href="http://localhost:3000/css/qqPage.css" rel="stylesheet"></head>
	<body>
		<div class="header">
		    <div class="head clearfix">
		        <img src="/img/title.png" class="logo">
		        <div class="head-nav">
		            <ul class="header-nav global-clearfix">
		                <li class="nav-li"><a class="nav-link" target="_blank" href="#">特权</a></li>
		                <li class="nav-li"><a class="nav-link" target="_blank" href="#">论坛</a></li>
		                <li class="nav-li"><a class="nav-link" target="_blank" href="#">帮助</a></li>
		                <li class="nav-li"><a class="nav-link" target="_blank" href="#">反馈建议</a></li>
		                <li class="nav-li"><a class="nav-link" href="#">9.7版本下载</a></li>
		                <li class="nav-li btn xiaZai" style="margin-top: -16px;display: none;"><div style="line-height: 34px;height: 34px;width:100px;border-radius: 2px;background:  #0080E2;"><a class="download" style="color: #fff;font-size: 16px;" href="#">立即下载</a></div></li>
		            </ul>
		        </div>
		    </div> 
		</div>
		<div class="banner swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="/img/index-bg.jpg" width="100%" height="100%"/>
					<div class="banner-btn" style="color: #0083E4;">
						<div class="btn-xz" style="background: url(/img/btn-down-blue.png);"></div>
						<span class="btn-text">下载 10.0 Beta 版</span>
					</div>
				</div>
				<div class="swiper-slide"><img src="/img/index-bg-black.jpg" width="100%" height="100%"/><div class="banner-btn"><div class="btn-xz"></div><span class="btn-text">下载 10.0 Beta 版</span></div></div>
			</div>
			<div class="swiper-pagination" id="pag1"></div>
		</div>
		<div class="banner-nav">
			<div class="banner-nav-wid">
				<a href="#">
		            <div class="banner-nav-li">
		                <img src="/img/index-sider.png">
		                <p class="banner-nav-con">全新侧边栏</p>
		            </div>
	       		</a>
	       		<a href="#">
		            <div class="banner-nav-li">
		                <img src="/img/index-screen.png">
		                <p class="banner-nav-con">全面屏皮肤</p>
		            </div>
	       		</a>
	       		<a href="#">
		            <div class="banner-nav-li">
		                <img src="/img/index-speed.png">
		                <p class="banner-nav-con">M63 极速内核</p>
		            </div>
	       		</a>
	       		<a href="#">
		            <div class="banner-nav-li">
		                <img src="/img/index-collection.png">
		                <p class="banner-nav-con">网页图文收藏</p>
		            </div>
	       		</a>
	       		<a href="#">
		            <div class="banner-nav-li">
		                <img src="/img/index-ext.png">
		                <p class="banner-nav-con">海量扩展插件</p>
		            </div>
	       		</a>
			</div>
		</div>
		<div class="content1 clearfix">
			<div class="content1-l">
				<div class="l-div">
					<h1>有侧栏，就够了</h1>
					<p class="l-div-p">融合资讯、追剧、直播、收藏等优质内容服务，全新 PC 使用体验，让电脑多一块屏幕</p>
					<div class="l-nav clearfix">
						<div class="nav0 hover1">
							<div class="nav1-bg "></div>
							<p class="nav0-p">资讯</p>
						</div>
						<div class="nav0 hover2">
							<div class="nav2-bg"></div>
							<p class="nav0-p">追剧</p>
						</div>
						<div class="nav0 hover3">
							<div class="nav3-bg"></div>
							<p class="nav0-p">直播</p>
						</div>
						<div class="nav-border1">
							<div class="border1"></div>
						</div>
						<div class="nav-border2">
							<div class="border2"></div>
						</div>
						<div class="nav-border3">
							<div class="border3"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="content1-r swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/sider-bg1.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/sider-bg2.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/sider-bg3.jpg" width="100%"/></div>
				</div>
			</div>
		</div>
		<div class="content2">
			<div class="content2-top">
	            <h1 class="content2-top-h1">全面屏皮肤，定制你的浏览器</h1>
	            <p class="content2-top-p">新一代浏览器设计，上百款精美壁纸，搭配毛玻璃磨砂界面，给你耳目一新的惊喜。</p>
       		</div>
       		<div class="content2-bottom">
                <video class="content2-video" loop="true" preload="true" autoplay="autoplay">
                    <source src="/img/five.mp4" type="video/mp4">
                </video>
            </div>
		</div>
		<div class="content3">
			<div class="content3-video">
                <video class="content3-v" loop="true" preload="true" autoplay="autoplay">
                    <source src="/img/page-four.mp4" type="video/mp4">
                </video>
                <div class="content3-title">
                	<img src="/img/page-four-chrom.png" width="490px"/>
                	<div class="title-h">至强性能，快到超出你的想象</div>
                	<div class="title-con">
                		<div>
                			<img src="/img/four-icon-chrom.png" width="36px"/>
                			<p>内核性能最强</p>
                		</div>
                		<div>
                			<img src="/img/four-icon-quick.png" width="36px"/>
                			<p>网页打开最快</p>
                		</div>
                		<div>
                			<img src="/img/four-icon-time.png" width="36px"/>
                			<p>启动速度最快</p>
                		</div>
                	</div>
                </div>
            </div>
		</div>
		<div class="content4 clearfix">
			<div class="content4-left">
				<div class="left-div">
					<h1>收藏，内容笔记</h1>
					<p class="left-div-p">可一键收藏图片、文字、清洗后的网页正文，方便归类查看和管理。云端保存，永不丢失。</p>
					<div class="left-nav clearfix">
						<div class="left-nav0 hover4">
							<div class="left-nav1-bg "></div>
							<p class="left-nav0-p">网页收藏</p>
						</div>
						<div class="left-nav0 hover5">
							<div class="left-nav2-bg"></div>
							<p class="left-nav0-p">图片收藏</p>
						</div>
						<div class="left-nav0 hover6">
							<div class="left-nav3-bg"></div>
							<p class="left-nav0-p">文字收藏</p>
						</div>
						<div class="left-nav-border1">
							<div class="left-border1"></div>
						</div>
						<div class="left-nav-border2">
							<div class="left-border2"></div>
						</div>
						<div class="left-nav-border3">
							<div class="left-border3"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="content4-r swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/collection-link-1.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/collection-link-2.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/collection-img-1.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/collection-img-2.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/collection-text-1.jpg" width="100%"/></div>
					<div class="swiper-slide" data-swiper-autoplay="2000"><img src="/img/collection-text-2.jpg" width="100%"/></div>
				</div>
			</div>
		</div>
		<div class="content5">
			<div class="content5-top">
				<h1>十万款应用插件 全网最全</h1>
				<p>内置强大且实用的小工具，并提供数万款扩展应用，能快速打造一款功能强大的浏览器。</p>
			</div>
			<div class="content5-bottom swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg5.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon5.png"/>
	                            <p>翻译君</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>最好用的网页翻译助手，支持划词翻译、手动输入翻译，支持网页整体翻译、鼠标悬停显示原文等操作。牛津词典官方授权，准确率高，速度快。</p>
	                        </div>
	                    </div>
					</div>
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg1.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon1.png"/>
	                            <p>微信</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>腾讯官方授权微信浏览器版，可在电脑上使用微信的相关功能，打字速度更快，支持拖拽传图、快速发送文件，享…</p>
	                        </div>
	                    </div>
					</div>
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg2.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon2.png"/>
	                            <p>广告过滤</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>Adblock Plus 是世界上最流行的广告拦截软件。所有广告被自动阻挡，包括图片广告、文字链链接…</p>
	                        </div>
	                    </div>
					</div>
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg3.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon3.png"/>
	                            <p>截图工具</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>全新升级的截图工具，支持网页内容截图、隐藏窗口截图、网页整体保存为图片等，内置画笔、箭头、马赛克等快…</p>
	                        </div>
	                    </div>
					</div>
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg4.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon4.png"/>
	                            <p>夜间模式</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>浏览器更懂夜的黑。内置夜间模式，可任意调整浏览区域的亮度和色温，把网页背景变成适合夜晚阅读的模式，同时可自由设定生效时间。</p>
	                        </div>
	                    </div>
					</div>
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg5.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon5.png"/>
	                            <p>翻译君</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>最好用的网页翻译助手，支持划词翻译、手动输入翻译，支持网页整体翻译、鼠标悬停显示原文等操作。牛津词典官方授权，准确率高，速度快。</p>
	                        </div>
	                    </div>
					</div>
					<div class="swiper-slide lunbo-con stop-swiping">
						<img src="/img/slide-bg1.png"/>
						<div class="lunbo-con1">
                        	<div class="lunbo-con1-l">
                        		<img src="/img/slide-icon1.png"/>
	                            <p>微信</p>
	                        </div>
	                        <div class="lunbo-con1-r">
	                            <p>腾讯官方授权微信浏览器版，可在电脑上使用微信的相关功能，打字速度更快，支持拖拽传图、快速发送文件，享…</p>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
			<div class="content5-border">
				<div style="width: 279px;margin: 0 auto;"> 
					<div class="con5-border1">
						<div class="b1"></div>
					</div>
					<div class="con5-border2">
						<div class="b2"></div>
					</div>
					<div class="con5-border3">
						<div class="b3"></div>
					</div>
					<div class="con5-border4">
						<div class="b4"></div>
					</div>
					<div class="con5-border5">
						<div class="b5"></div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="footer">
			<div class="footer-content">
				<h1>正是兴趣</h1>
				<h2>让生活如此与众不同</h2>
			</div>
			<div class="footer-img">
				<img src="/img/page-seven1.png" width="100%"/>
			</div>
			<div class="footer-text">
				<div class="text">
					<ul class="clearfix">
						<li><a href="#">官方论坛</a></li>
						<li><a href="#">特权中心</a></li>
						<li><a href="#">升级日志</a></li>
						<li><a href="#">安全统计</a></li>
						<li><a href="#">QQ浏览器 for Mac</a></li>
						<li><a href="#">QQ浏览器 for iPad</a></li>
						<li><a href="#">wiki</a></li>
					</ul>
				</div>
				<p>© 2018 Tencent</p>
			</div>
		</div>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://localhost:3000/js/qqPage.js"></script></body>
</html>